<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <title>Hindi ChatBot</title>
  </head>
  <body>
    <section class="msger">
      <header class="msger-header">
        <div class="msger-header-title">
          <i class="fas fa-comment-alt"></i> ChatBot
        </div>
        <div class="msger-header-options">
          <span><i class="fas fa-cog"></i></span>
        </div>
      </header>

      <main class="msger-chat">
        <div class="msg left-msg">
          <!-- <div class="msg-img" style="background-image: url(https://image.flaticon.com/icons/svg/327/327779.svg)"></div> -->

          <div class="msg-bubble">
            <div class="msg-info">
              <div class="msg-info-name">BOT</div>
              <!-- <div class="msg-info-time">12:45</div> -->
            </div>

            <div class="msg-text">नमस्ते।</div>
          </div>
        </div>

        <div class="msg right-msg">
          <!-- <div class="msg-img" style="background-image: url(https://image.flaticon.com/icons/svg/145/145867.svg)"></div> -->

          <div class="msg-bubble">
            <div class="msg-info">
              <div class="msg-info-name">USER</div>
              <!-- <div class="msg-info-time">12:46</div> -->
            </div>

            <div class="msg-text">नमस्ते।</div>
          </div>
        </div>
        <div class="msg left-msg">
          <!-- <div class="msg-img" style="background-image: url(https://image.flaticon.com/icons/svg/327/327779.svg)"></div> -->

          <div class="msg-bubble">
            <div class="msg-info">
              <div class="msg-info-name">BOT</div>
              <!-- <div class="msg-info-time">12:45</div> -->
            </div>

            <div class="msg-text">मैं आपकी किस प्रकार सहायता कर सकता हूँ?</div>
          </div>
        </div>

        <div class="msg right-msg">
          <!-- <div class="msg-img" style="background-image: url(https://image.flaticon.com/icons/svg/145/145867.svg)"></div> -->

          <div class="msg-bubble">
            <div class="msg-info">
              <div class="msg-info-name">USER</div>
              <!-- <div class="msg-info-time">12:46</div> -->
            </div>

            <div class="msg-text">मैं अपना पासवर्ड भूल गया हूँ।</div>
          </div>
        </div>
        <div class="msg left-msg">
          <!-- <div class="msg-img" style="background-image: url(https://image.flaticon.com/icons/svg/327/327779.svg)"></div> -->

          <div class="msg-bubble">
            <div class="msg-info">
              <div class="msg-info-name">BOT</div>
              <!-- <div class="msg-info-time">12:45</div> -->
            </div>

            <div class="msg-text">
              कृपया अपना ईमेल दर्ज करें, हम आपके ईमेल पर एक लिंक भेजेंगे।
            </div>
          </div>
        </div>

        <div class="msg right-msg">
          <!-- <div class="msg-img" style="background-image: url(https://image.flaticon.com/icons/svg/145/145867.svg)"></div> -->

          <div class="msg-bubble">
            <div class="msg-info">
              <div class="msg-info-name">USER</div>
              <!-- <div class="msg-info-time">12:46</div> -->
            </div>

            <div class="msg-text">rahulkhatri777@gmail.com</div>
          </div>
        </div>
        <div class="msg left-msg">
          <!-- <div class="msg-img" style="background-image: url(https://image.flaticon.com/icons/svg/327/327779.svg)"></div> -->

          <div class="msg-bubble">
            <div class="msg-info">
              <div class="msg-info-name">BOT</div>
              <!-- <div class="msg-info-time">12:45</div> -->
            </div>

            <div class="msg-text">
              लिंक साझा कर दिया गया है। कृपया अपना पासवर्ड बदलें।
            </div>
          </div>
        </div>
      </main>

      <form class="msger-inputarea">
        <input
          type="text"
          class="msger-input"
          placeholder="अपनी समस्या लिख कर बताएं"
        />
        <button type="submit" class="msger-send-btn">बोलिये</button>
      </form>
    </section>
    <script src="script.js"></script>
  </body>
</html>
